version: '3.1'

services:
  nginx:
    container_name: scrabble-solver_nginx
    image: nginx
    restart: unless-stopped
    ports:
      - 44300:8443
    volumes:
      - ./conf.d:/etc/nginx/conf.d
      - ./tls:/etc/nginx/tls

  scrabble-solver:
    container_name: scrabble-solver_app
    image: spacechip/scrabble-solver
    restart: unless-stopped
    environment:
      SCRABBLE_SOLVER_PASSWORD_FILE: /var/opt/password.txt
      SCABBLE_SOLVER_MAX_CONCURRENT_OPERATIONS: 8
      SCABBLE_SOLVER_PERMUTATION_BATCH_THRESHOLD: 500
    volumes:
      - ./credentials/password.txt:/var/opt/password.txt
