body {
    margin-bottom: 40px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

hr {
    width: 25%;
}

progress {
    width: 90%
}

.version {
    font-size: x-small;
}
